.addCircle {
    background-color: inherit;
}
.addCircle {background-color:transparent !important;}
/* i{
  color: #5cb85c;
}
i:hover{
  color: green;
} */
li{
  /* opacity: 1; */
}
.fontBlack a{
  /* color: #000; */
  /* font-size: 14px; */
}
