/* .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

} */

/* .footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
} */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
