agm-map{
  height: 450px;

}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.thumbnail{
    border:0;
}

a.disable-links {
    pointer-events: none;
}
